In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [3]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.
Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-win_amd64.whl (382 kB)
     ------------------------------------ 382.5/382.5 KB 148.9 kB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
djongo 1.3.6 requires django>=2.1, which is not installed.

  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     ------------------------------------ 269.1/269.1 KB 146.6 kB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.3

In [2]:
# Making a Connection with MongoClient
client = MongoClient("mongodb://localhost:27017/")
# database
db = client["MLOPS"]
# collection
shops= db["Shops"]

In [8]:
df_shops = pd.read_csv('shops.csv')

In [10]:
data_shops = df_shops.to_dict("records")

In [18]:
for data in data_shops:
    shops.insert_one({"id":data['shop_id'],"shop_name":data['shop_name']})

In [19]:
items = db["Items"]

In [20]:
df_items = pd.read_csv('items.csv')

In [21]:
df_items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [22]:
data_items = df_items.to_dict("records")

In [23]:
for data in data_items:
    items.insert_one({"id":data['item_id'],"item_name":data['item_name']})

In [3]:
df_test = pd.read_csv('test.csv')

In [4]:
df_test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [5]:
pivot = db["pivot_table"]

In [7]:
data_pivot = df_test.to_dict("records")

In [9]:
for data in data_pivot:
    pivot.insert_one({"id":data['ID'],"shop_id":data['shop_id'],"item_id":data['item_id']})